<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fkjava.hrm.mapper.JobMapper">
    
      <select id="getJobById" resultType="Job">
         select * from hrm_job where id = #{id}
      
      </select>
      
       <!-- 获取员工总记录数 -->
   <select id="findTotalNum" resultType="int">
       select count(*) from hrm_job 
       <where>
          <if test="job!=null and job.name!=null and job.name !='' ">
                name like concat("%",#{job.name},"%")
          </if>
       </where>
   </select>
   
   
   <!-- 分页查询 -->
   <select id="selectJobByPage" resultType="Job">
       select * from hrm_job 
        <where>
          <if test="job!=null and job.name!=null and job.name !='' ">
                name like concat("%",#{job.name},"%")
          </if>
       </where>
       
       limit #{pageModel.startPageSize},#{pageModel.pageSize}
   </select>
   
    <update id="updateJob">
      update hrm_job 
			set 
			    NAME = #{name}, 
				REMARK = #{remark}
			where id= #{id}
  </update>
  
  <insert id="addJob">
       insert into hrm_job ( NAME, REMARK) 
			   values(#{name},#{remark})  </insert>
</mapper>